<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card border-secondary">
      <div class="card-body">

        <%= form_with model: [:admin, @badge], local: true do |form| %>
          <div class="form-group">
            <%= render 'shared/errors', resource: @badge %>

            <p>
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :image %>
              <%= form.select :image, Badge.badge_image, class: 'form-control' %>
            </p>            

            <p><%= form.submit class: 'btn btn-outline-secondary btn-sm' %></p>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
