<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
   <%= link_to 'Gists', admin_gists_path, class: 'navbar-brand' %>
  
  <span class="navbar-text">
    <%= t('.welcome') %>, <b class="nav-admin user-email"><%= current_user.email %></b> Guru |
    <%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: 'text-primary' %>
  </span>
</nav>
