<%= form_with(model: [:admin, @test, @question], local: true) do |form| %>
<%= render 'shared/errors', resource: @question %>
 <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', admin_test_path(@question.test) %>
