<tr>
  <td>
    <%= content_tag :span,  test.title, class: 'test-title', data: { test_id: test.id } %>  
    <%= render 'form_inline', test: test == @test ? @test : test %>  
  </td>  
  <td><%= test_level(test) %></td> 
  <td align="center"><%= test_questions_count(test) %></td> 
  <td><%= link_to t('.show'), admin_test_path(test) %></td> 
  <td><%= link_to t('.edit'), 
                    edit_admin_test_path(test),
                    data: { test_id: test.id },
                    class: 'form-inline-link' %> 
  </td>
  <td>
  <%= link_to t('.delete'), admin_test_path(test) ,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </td>
</tr>