<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<table>
  <tr>
    <th>Questions</th>
  </tr>

  <%=  render @test.questions %>

</table><br>


<%= link_to 'Edit', edit_admin_test_path(@test) %> |
<%= link_to 'Back', admin_tests_path %> |
<%= link_to 'Create new question', new_admin_test_question_path(@test) %>
