<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<table>
  <tr>
    <th>Questions</th>
  </tr>

  <%= render @test.questions %>
  
</table>

<h2>Add a question:</h2>
<%= render 'questions/form' %>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
