<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <hr>
        <h1>Об авторе сайта Test Guru</h1>
        <p><b>Кокотов Михаил</b></p>
        <a href=<%= github_url('ruuke', 'Test-Guru') %> target="_blank">Test-Guru. Ссылка на GitHub автора</a><br>
        <a href="https://thinknetica.com/" target="_blank">Сайт школы Thinknetica</a><br>
        <%= current_year %>
      <hr>
    </footer>
  </body>
</html>
