<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <mata name="viewport" content="width=device-widrailsth, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/topmenu' %>

    <div class="containet">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
